<footer>
    <div class="text-center text-white">&copy;2020 Copyright: <a href="https://nvcomputing.com"> NVComputing.com</a></div>
</footer>

{{! Universal libraries/scripts }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/js/navbar.js"></script>

{{! Pages with Markdown parser }}
{{#if markdown}}
	<script src="/js/mdparser.js"></script>
{{/if}}

{{! MathJax (and configuration, configuration must occur before library execution }}
{{#if mathjax}}
	<script src="/js/mathjax-config.js"></script>
	<script id="MathJax-script" async="" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
{{/if}}

{{! Prism }}
{{#if prism}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/components/prism-core.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/plugins/autoloader/prism-autoloader.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
{{/if}}
