<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173254620-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag() { dataLayer.push(arguments); }
gtag('js', new Date());
gtag('config', 'UA-173254620-1');
</script>
<!-- Simple metadata -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Open Graph Protocol metadata -->
<meta property="og:title" content="{{{ title }}}">
<meta property="og:description" content="The website for Neuqua Valley High School's computing team. Join if you love programming!">
<meta property="og:type" content="website">
<meta property="og:url" content="https://nvcomputing.com">
<meta property="og:site_name" content="NVHS Computing Team">
<meta property="og:image" content="/res/android-chrome-512x512.png">
<!-- CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/plugins/line-numbers/prism-line-numbers.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/darcula.css">
<link rel="stylesheet" href="/css/mdparser.css">
<!-- Libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/components/prism-core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/plugins/autoloader/prism-autoloader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
<script src="/js/navbar.js"></script>
<script src="/js/mathjax-config.js"></script>
<script src="/js/mdparser.js"></script>
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;700&display=swap" rel="stylesheet">
<!-- Favicon stuff -->
<link rel="apple-touch-icon" sizes="180x180" href="/res/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/res/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/res/favicon-16x16.png">
<link rel="manifest" href="/res/site.webmanifest">
<title>{{{ title }}}</title>
