<nav class="navbar navbar-expand-lg navbar-expand-md navbar-dark bg-dark top-navbar navbar-custom" id="navbar">
    <div class="container">
        <a href="/" class="navbar-brand d-block d-sm-none" id="navimgref-sm"><img src="/res/nvct-logo.svg" alt="Neuqua Logo" id="navimg" class="img-fluid"></a>
        <a href="/" class="navbar-brand d-none d-sm-block" id="navimgref-lg"><img src="/res/nvct-logo-h.svg" alt="Neuqua Logo" id="navimg" class="img-fluid"></a>
        <button class="navbar-toggler navbar-toggler-custom" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav pull-right">
                <li class="nav-item">
                    {{#if homePage}}
                    <a class="nav-link active" href="/">Home</a>
                    {{else}}
                    <a class="nav-link" href="/">Home</a>
                    {{/if}}
                </li>
                <li class="nav-item">
                    {{#if resourcePage}}
                    <a class="nav-link active" href="/resources">Resources</a>
                    {{else}}
                    <a class="nav-link" href="/resources">Resources</a>
                    {{/if}}
                </li>
                <li class="nav-item">
                    {{#if practicePage}}
                    <a class="nav-link active" href="/practice">Practice</a>
                    {{else}}
                    <a class="nav-link" href="/practice">Practice</a>
                    {{/if}}
                </li>
                <li class="nav-item">
                    {{#if schedulePage}}
                    <a class="nav-link active" href="/schedule">Schedule</a>
                    {{else}}
                    <a class="nav-link" href="/schedule">Schedule</a>
                    {{/if}}
                </li>
            </ul>
        </div>
    </div>
</nav>
