<style>
.dropdown-menu-dark {
    background-color: #1E1E1E; 
    color: #8A8A8A;
}
.nav-link {
	color:#8A8A8A;	
}
.dropdown-menu-dark .dropdown-item {
    color: #8A8A8A;
}

.dropdown-menu-dark .dropdown-item:hover {
    background-color: #1E1E1E;
    color: #C6C6C6; 
}	
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark top-navbar navbar-custom" id="navbar">
  <div class="container">
    <a href="/" class="navbar-brand d-block d-sm-none" id="navimgref-sm">
      <img src="/res/nvct-logo.svg" alt="Neuqua Logo" id="navimg" class="img-fluid">
    </a>
    <a href="/" class="navbar-brand d-none d-sm-block" id="navimgref-lg">
      <img src="/res/nvct-logo-h.svg" alt="Neuqua Logo" id="navimg" class="img-fluid">
    </a>
    <button class="navbar-toggler navbar-toggler-custom" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav pull-right">
        <li class="nav-item">
          <a class="nav-link {{#if homePage}} active{{/if}}" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if resourcePage}} active{{/if}}" href="/resources">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if meetingsPage}} active{{/if}}" href="/meetings">Meetings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if practicePage}} active{{/if}}" href="/practice/homework">Homework</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if potwPage}} active{{/if}}" href="/potw">POTW</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item {{#if schedulePage}} text-light{{/if}}" href="/schedule">Schedule</a></li>
            <li><a class="dropdown-item {{#if leaderboardsPage}} text-light{{/if}}" href="/leaderboards">Leaderboards</a></li>
            <li><a class="dropdown-item {{#if autojudgerPage}} text-light{{/if}}" href="/autojudger">Auto Judger</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
		