<!-- Made by Raymond Zhao, with the navbar from Anton Barchukov -->
<!doctype html>
<html lang="en">

<head>
	{{> head }}
</head>

<body>
	<div class="background-page">
		<div class="navbar-wrapper pt-3"> {{> navbar }} </div>
		<div class="container py-5">
			<div class="row align-items-center py-5">
				<div class="col-lg-6 text-white">
					<h1 class="font-weight-bold">NVHS Computing Team</h1>
					<p class="font-weight-thin lead text-white mb-0">Main Building D200 | Thursdays 2:30-3:30</p>
				</div>
				<div class="col-lg-6 d-none d-lg-block"><img src="/res/nvabout.png" alt="nvclublogo" class="img-fluid rounded"></div>
			</div>
		</div>
	</div>
	<div class="d-none d-lg-block py-5">
		<div class="container">
			<div class="rounded shadow-sm title-code line-numbers"> {{{titleCode}}} </div>
		</div>
	</div>
	<div class="container">
		<div class="row py-4">
			<div class="col-md-8 text-white border-md-right pb-4 pr-4">
				<h1 class="text-center text-md-left mb-4">What is Computing Team?</h1>
				<p>At Computing Team, we do a variety of activities, mostly revolving around programming and computer science topics.</p>
				<p><i>(To join the club, it is recommended that you either have taken or are taking AP Computer Science A, otherwise you may have trouble understanding the material.)</i></p>
				<p>In our meetings, we cover many computer science topics, practice solving programming problems, and do fun programming competitions. Most of the activity we do is to practice and prepare for two major contests:</p>
				<ul>
					<li>American Computer Science League (ACSL)</li>
					<li>USA Computing Olympiad (USACO)</li>
				</ul>
				<p>ACSL is a computer science competition that involves short answer and programming problems and a wide variety of computer science related short answer topics. <a href="/resources/acsl/">Further details and resources for ACSL.</a></p>
				<p>USACO is a multistage programming competition that progressively gets more difficult as you rank up. In USACO, you solve 3 highly difficult programming problems in a set amount of time. There are 4 levels at which people participate, going up in difficulty from Bronze to Platinum. <a href="/resources/usaco/">Further details and resources for USACO.</a></p>
				<p>Along with preparing for these contests, we also often do mock Codeforces contests as practice. <a href="https://codeforces.com">Codeforces</a> is a website in which you solve multiple programming problems online within a set time frame. We will be hosting multiple practice contests in which you can compete with everyone else in the club throughout the year.</p>
				<p>If any of these activities sound interesting to you, you should definitely join Computing Team (if anything, just for the website. I swear, half the websites in this school are atrocities.)</p>
			</div>
			<div class="col-md-4 text-white pl-4">
				<div class="pb-4">
					<h1 class="text-center text-md-left">Club Info</h1>
					<div class="my-4">
						<h4 class="font-weight-light">Meeting Times</h4>
						<p>Thursdays 2:30-3:30 PM <br />First meeting September 17, 2020</p>
					</div>
					<div class="my-4">
						<h4 class="font-weight-light">Meeting Location</h4>
						<p>D200 / Zoom Sessions</p>
					</div>
					<div class="mt-4">
						<h4 class="font-weight-light">Registration</h4>
						<a href="https://docs.google.com/forms/d/e/1FAIpQLSf9bBhjK4qrUeaye6wQaPgaDY0_CZc7kVo5M5DOfr1SB7RMGw/viewform">Register Here</a>
					</div>
				</div>
				<div class="pb-4">
					<h1 class="text-center text-md-left">FAQ</h1>
					<div class="my-4">
						<h5>Q: Do you cut people from the club?</h5>
						<div class="font-weight-light">No. ACSL takes the highest scores out of everyone, so we have no reason to.</div>
					</div>
					<div class="my-4">
						<h5>Q: Can I join halfway through the year?</h5>
						<div class="font-weight-light">Sure, but you might not be able to compete in some of the contests.</div>
					</div>
					<div class="mt-4">
						<h5>Q: Am I good enough to join?</h5>
						<div class="font-weight-light">Yes. Having some computer science knowledge is preferred, but if you are willing to put in the effort to learn, you should join anyway.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

{{> footer }}

</html>
