<!doctype html>
<html lang="en">

<head>
	{{> head }}
</head>

<body class="line-numbers">
	<div class="background-page">
		<div class="navbar-wrapper pt-3"> {{> navbar }} </div>
		<div class="container py-5">
			<div class="row align-items-center py-5">
				<div class="col-lg-6 text-white">
					<h1 class="font-weight-bold">NVHS Computing Team</h1>
					<h2 class="font-weight-light">Practice</h2>
					<p class="font-weight-thin lead text-white mb-0">Practice Problems And Homework For Various Topics.</p>
				</div>
				<div class="col-lg-6 d-none d-lg-block"><img src="/res/nvabout.png" alt="nvclublogo" class="img-fluid rounded"></div>
			</div>
		</div>
	</div>
	<div class="resources container pt-5 text-white"> {{{resource}}} </div>
{{> footer }}
</body>

</html>
