<!doctype html>
<html lang="en">

<head>
	{{> head }}
</head>

<body class="line-numbers">
	<div class="background-page">
		<div class="navbar-wrapper pt-3"> {{> navbar }} </div>
		<div class="container">
			<div class="row align-items-center pb-5 header-offset">
				<div class="col-lg-6 text-white">
					<h1 class="font-weight-bold">NVHS Computing Team</h1>
					<h2 class="font-weight-light">Practice</h2>
					<p class="font-weight-thin lead text-white mb-0">Practice Problems And Homework For Various Topics.</p>
				</div>
				<div class="col-lg-6 d-none d-lg-block"><img src="/res/nvabout.png" alt="nvclublogo" class="img-fluid rounded"></div>
			</div>
		</div>
	</div>
	<div class="resources container text-white"> {{{resource}}} </div>
	<div id="back-to-top" href="#" class="btn btn-sm btn-light back-to-top" role="button"><i class="fas fa-arrow-up"></i></div>
	{{> footer }}
</body>

</html>