<!doctype html>
<html lang="en">

<head>
	{{> head }}
</head>

<body class="line-numbers">
	<div class="background-page">
		<div class="navbar-wrapper pt-3"> {{> navbar }} </div>
		<div class="container py-5 tableofcontents">
			<div class="row align-items-center py-5">
				<div class="col-lg-7 text-white">
					<h1 class="font-weight-bold">NVHS Computing Team</h1>
					<h2 class="font-weight-light">Resources</h2>
					<p class="font-weight-thin lead text-light mb-0">Helpful Information For Competitive Programming.</p>
					<br>
				</div>
				<div class="col-lg-5 text-white bg-dark p-2 px-4 mx-4 mx-lg-0" style="border: solid #2b2b2b 3px;">
					<h2 id="contents">Resource Pages</h2>
					<ul>
						<li><a href="/resources">Main Page</a></li>
						<li> Contests <ul>
								<li><a href="/resources/usaco">USACO</a></li>
								<li><a href="/resources/acsl">ACSL</a></li>
							</ul>
						</li>
						<li> General Resources <ul>
								<li><a href="/resources/io">Input / Output</a></li>
								<li><a href="/resources/efficiency">Writing Efficient Code</a></li>
								<li><a href="/resources/tips">Tips</a></li>
							</ul>
						</li>
						<li> Advanced <ul>
								<li><a href="/resources/streams">Stream API</a></li>
								<li><a href="/resources/lambdas">Lambdas and Functional Programming</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="resources container pt-5 text-white"> {{{resource}}} </div>
{{> footer }}
</body>

</html>

<script>
    lightbox.option({
      'resizeDuration': 200,
	  'disableScrolling': true,
	  'alwaysShowNavOnTouchDevices': true
    })
</script>