<!doctype html>
<html lang="en">

<head>
	{{> head }}
	<link rel="stylesheet" href="/css/animate.css">
</head>

<body class="line-numbers" data-spy="scroll" data-offset="80" data-target="#sidenav">
	<div class="background-page">
		<div class="navbar-wrapper pt-3"> {{> navbar }} </div>
		<div class="container">
			<div class="row align-items-center pb-5 header-offset">
				<div class="col-lg-6 text-white">
					<h1 class="font-weight-bold">NVHS Computing Team</h1>
					<h2 class="font-weight-light">Resources</h2>
					<p class="font-weight-thin lead text-light mb-0">Helpful Information For Competitive Programming.
					</p>
				</div>
				<div class="col-lg-6 d-none d-lg-block animate__animated animate__jackInTheBox"><img
						src="/res/nvabout.png" alt="nvclublogo" class="img-fluid rounded"></div>
			</div>
		</div>
	</div>
	<div class="container-fluid" id="pageContent">
		<div class="row flex-xl-nowrap">
			<div class="col-md-4 col-xl-3 pt-2 pb-4 sidebar text-white">
				<h4 class="sidebar-heading">Contents</h4>
				{{#if noBreadCrumb}}
				{{#if mainResources}}
				<a href="/resources" class="breadCrumb">Back to Main Page</a>
				{{else}}
				<a href="/resources/{{{previousPage}}}" class="breadCrumb">Back to <span
						class="text-uppercase">{{{previousPage}}}</span></a>
				{{/if}}
				{{/if}}
				<ul class="nav font-weight-thin" id="sidenav">
					<li style="padding-left: 30px !important;">Loading, please wait...</li>
				</ul>
			</div>
			<div class="col-md-8 col-xl-7">
				<div class="resources container-fluid text-light"> {{{resource}}} </div>
			</div>
		</div>
	</div>
	<div id="back-to-top" href="#" class="btn btn-sm btn-light back-to-top" role="button"><i
			class="fas fa-arrow-up"></i></div>
	{{> footer }}
</body>

</html>