.custom__calendar {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.custom__calendar iframe {
    height: 500px;
    border-radius: 20px;
}

.custom__add__bottom__margin {
    margin-bottom: 100px;
}

.custom__gold {
    color: rgb(255,198,109);
}

@media only screen and (max-width: 575px) {
    .custom__calendar{
        display: none;
    }
    
}

.custom__image__height {
    height: 275px;
}

@media only screen and (max-width: 1200px) {
    .custom__image__height {
        height: 225px;
    }
}

@media only screen and (max-width: 992px) {
    .custom__image__height {
        height: 175px;
    }
}

@media only screen and (max-width: 768px) {
    .custom__image__height {
        height: auto;
    }
}