html * {
	outline: 0 !important;
}

body {
	font-family: 'Raleway', sans-serif !important;
	background: #3c3c3c;
}

a {
	color: #7bff;
}

a:hover {
	color: rgb(47, 151, 255);
}

/* .link {
	color: rgb(47, 151, 255);
	position: relative;
	z-index: 1;
}

.link:hover {
	color: white;
	text-decoration: none;
}

.link:hover::after {
	transition-duration: 200ms;
	transform: scaleX(1);
	transform-origin: left;
}

.link::after {
	content: '';
	width: 100%;
	height: 100%;
	background: rgb(47, 151, 255) ;
	position: absolute;
	bottom: 0;
	left: 0;
	transform: scaleX(0);
	z-index: -1;
} */

h1, h2 {
	font-weight: bold;
}

footer {
	position: absolute;
	font-size: 0.8rem;
	padding: 0.5rem;
	background: #2b2b2b;
	width: 100%;
	z-index: 1001;
}


.fc-blue {
	color: #7bff;
}

.font-weight-thin {
	font-weight: 200;
}

.navbar-custom {
	background: #1f1f1f !important;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.navbar-wrapper .navbar-custom {
	max-width: 1200px;
	margin: 0 auto;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

@media (max-width: 1199px) {
	.navbar-wrapper .navbar-custom {
		max-width: 960px;
	}
}

@media (max-width: 991px) {
	.navbar-wrapper .navbar-custom {
		position: fixed;
		top: 0;
		z-index: 3000;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
		-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
		width: 100%;
		max-width: 100% !important;
	}
}

.sticky {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 3000;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
	width: 100%;
	max-width: 100% !important;
}

.navbar-toggler-custom {
	font-size: .7rem !important;
}

.navbar-brand img {
	max-height: 30px;
	padding-right: 15px;
}

#side-menu {
	margin-top: 55px !important;
}

#wrapper {
	overflow-x: hidden;
}

.background-code {
	background-image: url(/res/background-carousel.png);
	background-size: contain;
	background-position: center;
}

.background-page {
	/* background-image: linear-gradient(rgba(22, 21, 21, 0.65), rgba(22, 21, 21, 0.65)), url(/res/background4.webp); */
	background-image: url(/res/background-carousel.png);
	background-size: contain;
	background-position: center;
}

.header-offset {
	padding-top: calc(3rem + 57.8px) !important;
}

@media (min-width: 991px) {
	.header-offset {
		padding-top: 3rem !important;
	}
}

@media (max-width: 991px) {
	#navbrand {
		font-size: .9rem;
	}
}

@media (max-width: 306px) {
	#navbrand {
		font-size: .8rem;
	}
}

@media (max-width: 281px) {
	#navbrand {
		font-size: .6rem;
	}
}

.border-md-right {
	border-right: 0px solid #dee2e6 !important;
}

@media (min-width: 768px) {
	.border-md-right {
		border-right: 1px solid #dee2e6 !important;
	}
}

.title-code {
	box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.title-code:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.back-to-top {
	position: fixed;
	bottom: 3rem;
	right: 15px;
	display: none;
}

.card {
	background-color: #4d4d4d !important;
	image-rendering: -webkit-optimize-contrast;
}

.card-body {
	padding: 1.25rem 1.25rem 1rem;
}

.card-footer .btn {
	background-color: #1a212c !important;
}

.card-footer .btn:hover {
	background-color: #ffffff;
}

.btn:hover {
	background-color: #e3e3e3ff;
}

.card-footer a {
	color: #ffff !important;
}

/* betternavbarcss */

#side-menu, .side-menu-overlay {
	position: fixed;
	top: 0;
	height: 100%;
	display: none
}

body.overflow-hidden {
	overflow: hidden
}

#side-menu {
	width: 300px;
	right: -300px;
	overflow-y: auto;
	z-index: 1035;
	background: #e9e9e9;
	padding: 20px 0px;
	color: #333;
	transition: .4s
}

body.side-menu-visible #side-menu {
	transform: translateX(-300px)
}

#side-menu .contents {
	margin-top: 40px
}

.nav-link{
	color: #ffffff;
}

#side-menu .nav-link {
	color: #333;
	font-size: 16px;
	font-weight: 600;
	padding: 12px 0;
	position: relative;
	z-index: 1;
	padding-left: 30px;
}

#side-menu .nav-link:hover{
	background-color: #DCDCDC;
	transition-duration: 0.2s;

}

#side-menu .close {
	font-size: 36px;
	font-weight: 400;
	padding-right: 30px;
}

.side-menu-overlay {
	left: 0;
	min-width: 100%;
	background: rgba(0, 0, 0, .4);
	z-index: 100
}

#side-menu.side-menu-left {
	right: auto;
	left: -300px
}

body.side-menu-visible #side-menu.side-menu-left {
	transform: translateX(300px)
}

.monospace {
	display: flex;
}

/* LightBox */

#lightboxOverlay {
	position: fixed !important;
	top: 0;
	left: 0;
	height: 100% !important;
	width: 100% !important;
}

#lightbox {
	position: fixed !important;
	top: 50% !important;
	transform: translateY(-50%);
}
