/* Resources Sidebar */

.sidebar {
	order: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
	padding-left: 0;
	padding-right: 0;
}

@media (min-width: 1200px) {
	.sidebar {
		-ms-flex: 0 1 320px;
		flex: 0 1 320px;
	}
}

@media (min-width: 768px) {
	.sidebar {
		position: -webkit-sticky;
		position: sticky;
		top: 58px;
		z-index: 1000;
		height: calc(100vh - 58px);
		border-right: 1px solid rgba(0,0,0,.1);
	}
}

.breadCrumb {
	font-weight: 700 !important;
	color: #fff !important;
	margin-left: calc(15px + 0.75rem);
}

.sidebar-heading {
	margin: 2rem calc(15px + 0.75rem) 1rem;
	padding-bottom: 0.5rem;
	font-weight: bold;
	/* text-align: center; */
	border-bottom: 1px solid white;
}

#sidenav {
	overflow-y: auto;
	max-height: calc(100vh - 9rem);
}

#sidenav ul {
	list-style-type: none;
	padding-inline-start: 0 !important;
	width: 100%;
}

/*
#sidenav ul ul {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
 */

#sidenav li {
	width: 100%;
	padding: 0;
}

#sidenav li > a.active {
	background: #fff !important;
	color: #404040 !important;
	font-weight: bold;
}

#sidenav li a {
	padding: 4px calc(15px + 0.75rem);
	color: #fff !important;
}

#sidenav ul ul li a {
	padding-left: calc(15px + 1.5rem);
}
